version: "3.8"

services:
  # --- Reverse Proxy (Gateway) ---
  nginx:
    image: nginx:1.27-alpine
    container_name: gateway
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - api
    networks:
      - app-network

  # --- Frontend ---
  frontend:
    build:
      context: ./frontend
    container_name: frontend
    env_file:
      - .env
    networks:
      - app-network

  # --- API ---
  api:
    build:
      context: ./api
    container_name: api
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      init-permissions:
        condition: service_completed_successfully
    networks:
      - app-network

  # --- Init permissions (socket) ---
  init-permissions:
    image: busybox:1.36
    container_name: init-permissions
    command: sh -c "chmod 666 /var/run/docker.sock"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    user: root

  # --- Worker (pas lancé par défaut) ---
  worker:
    build:
      context: ./worker
    image: qrcode-worker:1.0.0
    profiles: ["manual"]
    restart: "no"
    env_file:
      - .env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
